$breakPoint: 420px;

[v-cloak] {
  display: none;
}

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3)),
    url("../src/hero.jpeg");
  background-size: 100% 100%, cover;
  background-position: center;
  color: #FFF;

  h1 {
    margin-bottom: 24px;

    @media(max-width: $breakPoint) {
      font-size: 2rem;
    }

    .tk-tbudrgothic-std {
      font-weight: 900;
    }

    small {
      display: block;
      font-style: italic;
      font-size: 1.1rem;
      margin-top: 8px;
    }
  }

  .rule {
    background-color: rgba(0, 0,0, 0.4);
    padding: 24px;
    max-width: 800px;
    margin: 0 auto;

    @media(max-width: $breakPoint) {
      padding: 16px;
    }

    h2 {
      font-size: 1.1rem;
      font-weight: bold;
      display: block;
      text-align: center;
    }

    ul {
      font-size: 0.9rem;
      text-align: left;
    }
  }


}

.member {
  $memberColor: lighten(#46A0B5, 8%);
  display: inline-flex;
  align-items: center;
  border: 4px solid $memberColor;
  border-radius: 30px;
  padding-right: 6px;
  background-color: $memberColor;
  margin: 2px;

  &__image {
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
  }

  &__content {
    color: #FFF;
    //font-weight: bold;
    white-space: nowrap;
    letter-spacing: 1px;

    .badge {
      vertical-align: text-bottom;
      font-weight: normal;
    }
  }

  &--win {
    $winColor: #ED4242;
    border-color: $winColor!important;
    background-color: $winColor!important;
  }
}

.memberList {
  text-align: center;
  margin-bottom: 24px;
  &__title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 16px;
  }
}

.game {
  $baseColor: #F7C244;

  &__titleContainer {
    position: relative;
    background-color: transparentize(desaturate($baseColor, 50%), 1 - 0.4);
    text-align: center;
    padding: 16px 0;
    margin-bottom: 8px;

    &--next {
      background-color: $baseColor;
    }

    &--done {
      background-color: #AAA;
    }

    h2 {
      margin-bottom: 0;
    }
  }

  &__count {
    position: absolute;
    display: block;
    left: 16px;
    top: -32px;
    font-size: 6rem;
    font-weight: bold;
    color: transparentize(#FFF, 1 - 0.3);
    z-index: 0;

    @media(max-width: $breakPoint) {
      color: transparentize(#FFF, 1 - 0.2);
      left: -12px;
    }
  }

  &__date {
    position: relative;
    z-index: 1;
    display: block;
    font-size: 1.2rem;

    @media(max-width: $breakPoint) {
      font-size: 1rem;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: bold;

    > span {
      font-weight: normal;
    }
    @media(max-width: $breakPoint) {
      font-size: 1.3rem;
    }
  }

  &__table {
    margin-top: 8px;

    &--done {
      .member {
        border-color: #CCC;
        background-color: #CCC;
      }
    }

    th {
      text-align: center;
      width: 33%;

      @media(max-width: $breakPoint) {
        vertical-align: middle!important;
        font-size: 0.8rem;
      }
    }

    td {
      text-align: center;
    }
  }

  &__point {
    font-style: italic;
  }

  &__tvInfo {
    text-align: right;
    font-size: 0.8rem;
  }

  &__member {
    display: inline-block;
  }
}