<!doctype html>
<html lang="ja">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex,nofollow">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="./scss/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG" crossorigin="anonymous">
  <title>こけかっぷ2018</title>
</head>
<body>
<main>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        <i class="fas fa-trophy-alt"></i> <span class="tk-tbudrgothic-std">こけかっぷ</span> <i class="fas fa-trophy-alt"></i>
        <small>2018 Russia World Cup</small>
      </h1>

      <div class="rule">
        <h2>ルール</h2>
        <ul class="list">
          <li>参加者には10試合分5000こけポイント(kp)が配布されます</li>
          <li>1試合ごとに必ず500kpをBETします</li>
          <li>1試合ごとにスコアまでぴったり当てた人が勝者。各戦ごとにBETされたポイント勝者総取り</li>
          <li>正解が複数人いた場合にはBETされたポイントを勝者で分割</li>
          <li>もし勝者がいなければ、BETされたポイント半分はジャックポットとして次回に持ち越し。もう半分は勝敗を当てた人に分配</li>
          <li>10試合終わって、1番ポイントが高い人が優勝</li>
        </ul>
      </div>

    </div>
  </section>
  
  <div class="container memberList" id="memberList">
    <h2 class="memberList__title">参加者</h2>
    <div class="member" v-for="member in members">
      <img class="member__image" v-bind:src="member.image" v-bind:alt="member.name" />
      <span class="member__content"  v-cloak>{{member.name}} <span class="badge badge-dark"  v-cloak>{{member.point}}kp</span></span>
    </div>
  </div>
  
  <div id="gameList">
    <div class="game" v-for="game in games">
      <div class="game__titleContainer"
           v-bind:class="{ 'game__titleContainer--done': game.status == 'done',
                           'game__titleContainer--next': game.status == 'next' }"
      >
        <h2>
          <span class="game__count" v-cloak>No.{{game.id}}</span>
          <span class="game__date" v-cloak>{{game.date}}</span>
          <span class="game__title"  v-cloak>
            {{game.teamAFlag}} {{game.teamA}}
            <span>vs</span>
            {{game.teamB}} {{game.teamBFlag}}
          </span>
          <div class="game__result" v-cloak v-if="game.teamAResult && !(game.teamAResult === 0)">
            {{game.teamAResult}} - {{game.teamBResult}}
          </div>
        </h2>
      </div>
      <div class="container">
        <div class="game__tvInfo"  v-cloak><i class="fal fa-tv-retro"></i> {{game.tv}}</div>
        <table class="table game__table"
               v-bind:class="{ 'game__table--done': game.status == 'done' }"
        >
          <thead>
          <tr>
            <th colspan="3">
              ピタリ賞 <span class="game__point"  v-cloak>{{game.point.pitari}}kp</span>
            </th>
          </tr>
          <tr>
            <th v-cloak>
              {{game.teamA}}<br /><span class="game__point">{{game.point.teamA}}kp</span>
            </th>
            <th v-cloak>
              引き分け<br /><span class="game__point">{{game.point.draw}}kp</span>
            </th>
            <th v-cloak>
              {{game.teamB}}<br /><span class="game__point">{{game.point.teamB}}kp</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div v-for="vote in game.votes"
                  class="game__member"
              >
                <div v-if="vote.teamA > vote.teamB"
                     class="member"
                     v-cloak
                     v-bind:title="vote.member.name"
                     data-toggle="tooltip" data-placement="left"
                     v-bind:class="{ 'member--win': vote.teamA == game.teamAResult && vote.teamB == game.teamBResult }"
                >
                  <img class="member__image"
                       v-cloak
                       v-bind:src="vote.member.image"
                       v-bind:alt="vote.member.name" />
                  <span class="member__content"  v-cloak>
                    {{vote.teamA}} - {{vote.teamB}}
                  </span>
                </div>
              </div>
            </td>
            <td>
              <div v-for="vote in game.votes"
                   class="game__member"
              >
                <div v-if="vote.teamA == vote.teamB"
                     class="member"
                     v-cloak
                     v-bind:title="vote.member.name"
                     data-toggle="tooltip" data-placement="left"
                     v-bind:class="{ 'member--win': vote.teamA == game.teamAResult && vote.teamB == game.teamBResult }"
                >
                  <img class="member__image"
                       v-cloak
                       v-bind:src="vote.member.image"
                       v-bind:alt="vote.member.name" />
                  <span class="member__content"  v-cloak>
                    {{vote.teamA}} - {{vote.teamB}}
                  </span>
                </div>
              </div>
            </td>
            <td>
              <div v-for="vote in game.votes"
                   class="game__member"
              >
                <div v-if="vote.teamA < vote.teamB"
                     class="member"
                     v-cloak
                     v-bind:title="vote.member.name"
                     data-toggle="tooltip" data-placement="left"
                     v-bind:class="{ 'member--win': vote.teamA == game.teamAResult && vote.teamB == game.teamBResult }"
                >
                  <img class="member__image"
                       v-cloak
                       v-bind:src="vote.member.image"
                       v-bind:alt="vote.member.name" />
                  <span class="member__content"  v-cloak>
                    {{vote.teamA}} - {{vote.teamB}}
                  </span>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://use.typekit.net/rdh6icg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="./index.js"></script>
<script type="text/javascript">
    $(function(){

        var json_url = "https://script.google.com/macros/s/AKfycbxtgFhycCh7Zs3dAaBxfOpw_RpvODRuUj77O3jgkoAGrZ3WDuFt/exec";
        $.ajax({
            type: "GET",
            url:  json_url,
            dataType: "json",
            success: function (returnData) {
                console.log(returnData);
                var voteInfoOne = [];
                $.each(returnData,
                    function(i,val){
                        if(val.game){
                            var englishName = val.nameEn;
                            if(englishName && members[englishName]) {
                                var tmp = {member: members[englishName], teamA: val["teamA"], teamB: val["teamB"]};
                                var gameName = "game" + val.game;
                                voteInfo[gameName].push(tmp);
                                // console.log(val.amount);
                                if(val["amount"]){
                                    console.log(val.amount);
                                    members[englishName]["point"] =  members[englishName]["point"]  + val.amount;
                                }
                            }


                        }
                    }
                );
                console.log(voteInfo);
                console.log(members);
            }

        });

    });

</script>
</body>
</html>